body {
    font-family: 'Poppins', sans-serif;

}

.orange-color {
    color: orange;
}

h1 {
    font-size: 20;
    font-weight: 900;
}

.flexible-container {
    display: flex;
    margin-left: 0;
    margin-bottom: 40px;
    padding: 10px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 75%;
}

.link-button {
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5%;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px gray;
}

#full-stack-experience {
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
}

#web-dev-experience {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    color: green;
    text-align: center;
    font-weight: 400;
    font-style: italic;
}